@using System.Collections.Generic
@using HumDrum.Collections
@using cccstc

@model IEnumerable<STC>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@helper GenerateBox(IEnumerable<string> items, string selectAttributes, string optionAttributes)
{
	<select @selectAttributes>
	@foreach(string item in items)
	{
		<option @optionAttributes>@item</option>
	}
	</select>
}

@helper GenerateBox(IEnumerable<string> items, string selectAttributes, string optionAttributes, string selectedItem)
{
	<select @selectAttributes>
		@foreach(string item in items)
		{
			if(item.Equals(selectedItem)) {
				<option @optionAttributes selected>@item</option>
			}
			else {
				<option @optionAttributes>@item</option>
			}

		}
	</select>
}

@helper GenerateDateQuery(string type)
{
	@GenerateBox(
		Transformations.Make("January", "Feburary", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"),
		"class=\"selectpicker\" id=" + type + "Month",
		"",
		cccstc.Session.MonthOf(DateTime.Now.Month))

	@GenerateBox(
		Transformations.Make(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31).ForEvery(x => x.ToString()),
		"id=" + type + "Day",
		"",
		DateTime.Now.Day.ToString())
}

<h1 class="center">Timesheets</h1>

<div class="" id="contents">
	<h4 class="center">This form will let you generate your timesheet if you've used this service for the last pay period.</h4>

	<div class="center"><b>Email</b>: @GenerateBox(Model.ForEvery(x => x.Email), "id=email", "")</div>

	<br>
	<br>
	<hr>
	<row>
		<div class="col-md-6">
			<div class="center">
			<h3>Starting Date</h3>
			@GenerateDateQuery("from")
			</div>
		</div>
		<div class="col-md-6">
		<div class="center">
			<h3>Ending Date</h3>
			@GenerateDateQuery("to")
		</div>
		</div>
	</row>
	<hr>
	<button type="button" class="btn btn-primary btn-block" onclick="loadSessions(fromMonth, fromDay, toMonth, toDay)">Look Up</button>
	<div id="tableArea">
	</div>
</div>